body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 960px;
    width: 960px;
}

.poem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 960px;
    height: 300px;
    border-radius: 50px;
    padding: 20px;
}

.secondPoem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 960px;
    height: 300px;
    border-radius: 50px;
    padding: 20px;
}

.secondPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animoji {
    display: flex;
    justify-content: left;
    height: 150px;
    width: 150px;
    border-radius: 250px;
    padding: 20px;
}

.imageRow {
    display: flex;
    justify-content: left;
    padding: 20px;
}